version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: academia_dev_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: academia_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - academia_network

  web:
    build: .
    container_name: academia_dev_web
    command: sh -c "sleep 5 && python manage.py makemigrations && python manage.py migrate && python manage.py collectstatic --no-input && echo \"from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@email.com', 'admin123')\" | python manage.py shell && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: academia_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    networks:
      - academia_network

volumes:
  postgres_data:
  static_volume:

networks:
  academia_network:
    driver: bridge